/* System Monitor Tray Stylesheet */

.system-monitor-label {
    font-size: 11pt;
    padding: 0 4px;
}

.system-monitor-metric-icon {
    icon-size: 16px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 4px;
    padding: 2px;
    -st-icon-style: symbolic;
    margin-right: 4px;
}
